body {
    background-color: #ffffff
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  
.logo{
    position: absolute;
}
.navbar{
    text-align: left;
    position: -webkit-sticky;
    margin-left: 3em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    display: inline;
  }
  
  li a {
    display: inline-block;
    color: rgb(95, 80, 80);
    padding: 0.6em 2em;
    text-decoration: none;
    font-family: courier;
    font-size: 1.3em;
    font-weight: bold;
  }

#about_me {
    margin: 5% 5%;
    text-align: center;
    font-family:  Helvetica, sans-serif;
    font-size:1.5em;
    margin-bottom:-1em;
    margin-top:5em;
}

